div:hover {
    display: block;
    color: purple;
 }

div > p{
    display: none;
    color: red;
    background-color: purple;
    width: 100px;
}

div:hover > p {
    display: block;
}


 div{
    font-weight: bold;
 }